:root{

    /* Color : Primary */
    --clr-marine-blue:hsl(213,96%,18%);
    --clr-purplish-blue:hsl(243,100%,62%);
    --clr-pastel-blue:hsl(228,100%,84%);
    --clr-light-blue:hsl(206,94%,87%);
    --clr-strawberry-red:hsl(354,84%,57%);

    /* Color : Neutral */
    --clr-cool-gray:hsl(231,11%,63%);
    --clr-light-gray:hsl(229,24%,87%);
    --clr-magnolia:hsl(217,100%,97%);
    --clr-alabaster:hsl(231,100%,99%);
    --clr-white:hsl(0,0%,100%);

    /* Font : Weight */
    --fw-needle: 300;
    --fw-thin: 400;
    --fw-medium: 500;
    --fw-big: 700;

    /* Font : Size */
    --fs-small : 0.75em;
    --fs-small-2 : 0.85em;
    --fs-normal : 1em;
    --fs-big: 1.4em;
    --fs-desktop-big: 2em;
}

/* ------------------- Globals ------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
}

body{
    min-height: 100svh;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: var(--clr-magnolia);
}

/* - Hiding all the steps except the first one - */ 

.form-step-2,
.form-step-3,
.form-step-4,
.form-step-5{
    display: none;
}


/* ------------------- Media queries : 375px - 1023px ------------------- */

@media (min-width: 375px) and (max-width: 1023px) {

    .step-form{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 2rem 0rem 6rem;
        background-image: url(/assets/images/bg-sidebar-mobile.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .step-info p{
        display: none;
    }


    .form{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 2rem;
        border-radius: 1vmax;
        background-color: var(--clr-white);
    }

    .form-step-1{
        display: block;
        position: fixed;
        top: 78px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .form p:nth-child(1){
        font-size: 1.4em;
        font-weight: var(--fw-big);
        color: var(--clr-marine-blue);
    }
    
    .form p:nth-child(2){
        font-size: 0.96em;
        font-weight: var(--fw-needle);
        color: var(--clr-cool-gray);
        padding-bottom: 10px;
    }

    .form-step-2 .form .properties,
    .form-step-3 .form .properties{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
    }

    .plan-selection{
        margin-top: 20px;
        padding: 5px;
    }

    /* Btn previous & next */

    .btn-next-previous{
        position: fixed;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .btn-next-previous .previous-step{
        height: 40px;
        width: 100px;
    }
    
    

}

/* ------------------- Media queries : 1023px ------------------- */


@media (min-width: 1024px){

    body{
        background-color: var(--clr-light-blue);
    }

    /* Multi step form */

    .multi-step-form{
        display: flex;
        border-radius: 1vmax;
        background-color: var(--clr-white);
        min-width: 100svh;
    }

    .step-form{
        position: relative;
        border-radius: 1vmax;
        margin: 1rem;
        min-height: 60svh;
        min-width: 30%;
        padding-top: 1rem;
        padding-left: 1rem;
        background-image: url(/assets/images/bg-sidebar-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }

    .step-info{
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .step-info p{
        text-transform: uppercase;
    }

    .step-info p:nth-child(1){
        font-size: var(--fs-small);
        color: var(--clr-cool-gray);
    }

    .step-info p:nth-child(2){
        font-size: var(--fs-small-2);
        font-weight: var(--fw-big);
        color: var(--clr-white);
        letter-spacing: 2px;
    }

    /* Form */

    /* Form step 1 */

    .form-step-1 .form{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem 0rem 0rem 4rem;
        border-radius: 1vmax;
        background-color: var(--clr-white);
    }

    .form p:nth-child(1){
        font-size: var(--fs-desktop-big);
        font-weight: var(--fw-big);
        color: var(--clr-marine-blue);
        padding-top: 1rem;

    }

    .form p:nth-child(2){
        font-size: var(--fs-normal);
        font-weight: var(--fw-needle);
        color: var(--clr-cool-gray);
        padding-bottom: 1rem;
    }

    .form label{
        padding-top: 20px;
        padding-bottom: 2px;
    }

    /* Form step 2 */

    .form-step-2 .form,
    .form-step-3 .form,
    .form-step-4 .form,
    .form-step-5{
        position: fixed;
        top: 22%;
        left: 42%;
        width: 50svh;
    }

    .form-step-2 .form .properties{
        display: flex;
        gap: 1rem;
    }

    .form-step-2 .form .properties .arcade,
    .form-step-2 .form .properties .advanced,
    .form-step-2 .form .properties .pro{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-top: 1rem;
        width: 300px;
    }

    .form-step-2 .form .properties .arcade-properties p:nth-child(1),
    .form-step-2 .form .properties .advanced-properties p:nth-child(1),
    .form-step-2 .form .properties .pro-properties p:nth-child(1){
        font-size: var(--fs-normal);
    }

    .plan-selection{
        margin-top: 2rem;
        padding: 1rem;
    }

    .plan-selection p:nth-child(1){
        padding-bottom: 15px;
        padding: 0rem;
    }

    /* Form step 3 */
    .form-step-3 .form .properties{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .online-service-properties-bill p,
    .larger-storage-properties-bill p,
    .customizable-profile-properties-bill p{
        padding-bottom: 15px;
    }

    /* Footer btn */

    .btn-next-previous{
        position: fixed;
        top: 655px;
        left: 400px;
        width: 500px;
    }
    

}


/* ---------------------------------------------------------------------- */

.step-form button{
    width: 35px;
    padding: 5px;
    border: 1px solid;
    color: var(--clr-white);
    border-color: var(--clr-white);
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
}


/* ------------------- Form step 1 ------------------- */

.form-step-1 label{
    font-size: var(--fs-small);
    font-weight: var(--fw-thin);
    color: var(--clr-marine-blue);
}

.form-step-1 label{
    margin-top: 1rem;
}

.form-step-1 input{
    padding: 0.5rem;
    border: 1px solid;
    border-color: var(--clr-light-gray);
    border-radius: 1vmax;
    text-indent: 10px;
}

.form-step-1 input::placeholder{
    color: var(--clr-cool-gray);
    text-indent: 10px;
}

.form-step-1 input:focus{
    outline-color: var(--clr-marine-blue);
}

/* - Make all form fixed - */

.form-step-2,
.form-step-3,
.form-step-4{
    position: fixed;
    top: 78px;
    left: 0;
    right: 0;
    margin: auto;
}


/* ------------------- Form step 2 ------------------- */

.form-step-2 .form .arcade,
.form-step-2 .form .advanced,
.form-step-2 .form .pro{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border: 1px solid var(--clr-light-gray);
    background-color: var(--clr-white);
    border-radius: 1vmax;
}

.form-step-2 .form .arcade-properties,
.form-step-2 .form .advanced-properties,
.form-step-2 .form .pro-properties{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.form-step-2 .form .arcade-properties p:nth-child(1),
.form-step-2 .form .advanced-properties p:nth-child(1),
.form-step-2 .form .pro-properties p:nth-child(1){
    font-weight: var(--fw-medium);
}

.form-step-2 .form .arcade-properties p:nth-child(3),
.form-step-2 .form .advanced-properties p:nth-child(3),
.form-step-2 .form .pro-properties p:nth-child(3){
    color: var(--clr-marine-blue);
    display: none;
}

.form-step-2 .form .arcade:hover,
.form-step-2 .form .arcade:focus,
.form-step-2 .form .advanced:hover,
.form-step-2 .form .advanced:focus,
.form-step-2 .form .pro:hover,
.form-step-2 .form .pro:focus{
    background-color: var(--clr-alabaster);
    border: 1px solid var(--clr-purplish-blue);
}

/* Toggle button */

.plan-selection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1vmax;
    background-color: var(--clr-alabaster);
}

.form-step-2 .form .plan-selection p:nth-child(1){
    font-size: var(--fs-normal);
}

.plan-selection input[type=checkbox]{
    display: none;
}

.plan-selection label{
    position: relative;
    display: block;
    text-indent: -9999px;
    width: 50px;
    height: 22px;
    border-radius: 2vmax;
    background-color: var(--clr-marine-blue);   
}

.plan-selection label:after{
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: var(--clr-white);
    border-radius: 100vmax;
    transition: 0.35s;
}

.plan-selection input:checked + label:after{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.plan-selection label:active::after{
    width: 20px;
}


/* ------------------- Form step 3 ------------------- */

/* - Form step 3 : Style for the buttons - */

.form-step-3 .form .online-service,
.form-step-3 .form .larger-storage,
.form-step-3 .form .customizable-profile{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    gap: 1rem;
    border-radius: 1vmax;
    border: 1px solid var(--clr-light-gray);
    background-color: var(--clr-white);
    cursor: pointer;
}

.form-step-3 .form .online-service input,
.form-step-3 .form .larger-storage input,
.form-step-3 .form .customizable-profile input{
    transform: scale(1.6);
}

.form-step-3 .form .online-service-properties,
.form-step-3 .form .larger-storage-properties,
.form-step-3 .form .customizable-profile-properties{
    text-align: left;
    width: 100%;
}

.form-step-3 .form .online-service:hover,
.form-step-3 .form .online-service:focus,
.form-step-3 .form .larger-storage:hover,
.form-step-3 .form .larger-storage:focus,
.form-step-3 .form .customizable-profile:hover,
.form-step-3 .form .customizable-profile:focus{
    background-color: var(--clr-alabaster);
    border: 1px solid var(--clr-purplish-blue);
}

.form-step-3 .form .online-service-properties p:nth-child(1),
.form-step-3 .form .larger-storage-properties p:nth-child(1),
.form-step-3 .form .customizable-profile-properties p:nth-child(1){
    font-size: var(--fs-normal);
}

.form-step-3 .form .online-service-properties p:nth-child(2),
.form-step-3 .form .larger-storage-properties p:nth-child(2),
.form-step-3 .form .customizable-profile-properties p:nth-child(2){
    font-size: var(--fs-small);
}

.form-step-3 .form .online-service-properties-bill p,
.form-step-3 .form .larger-storage-properties-bill p,
.form-step-3 .form .customizable-profile-properties-bill p{
    font-size: var(--fs-normal);
    color: var(--clr-purplish-blue);
    font-weight: var(--fw-thin);
}

/* ------------------- Form step 4 ------------------- */

.form-step-4 .conclusion-properties{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--clr-alabaster);
    padding: 1rem;
    border-radius: 1vmax;
}

.conclusion-properties-type,
.conclusion-properties-online,
.conclusion-properties-storage,
.conclusion-properties-customizable,
.conclusion-properties-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-step-4 .form .conclusion-properties-type-display p,
.form-step-4 .form .conclusion-properties-online-display p,
.form-step-4 .form .conclusion-properties-storage-display p,
.form-step-4 .form .conclusion-properties-customizable-display p,
.form-step-4 .form .conclusion-properties-total p:nth-child(1){
    font-size: var(--fs-small-2);
}

.form-step-4 .form .conclusion-properties-type-bill p,
.form-step-4 .form .conclusion-properties-online-bill p,
.form-step-4 .form .conclusion-properties-storage-bill p,
.form-step-4 .form .conclusion-properties-customizable-bill p{
    font-size: var(--fs-small-2);
}

.form-step-4 .form .conclusion-properties-online-display p,
.form-step-4 .form .conclusion-properties-online-bill p,
.form-step-4 .form .conclusion-properties-storage-display p,
.form-step-4 .form .conclusion-properties-storage-bill p,
.form-step-4 .form .conclusion-properties-customizable-display p,
.form-step-4 .form .conclusion-properties-customizable-bill p,
.form-step-4 .form .conclusion-properties-total p{
    font-weight: var(--fw-thin);
}

.form-step-4 .form .conclusion-properties-online,
.form-step-4 .form .conclusion-properties-storage,
.form-step-4 .form .conclusion-properties-customizable{
    padding-bottom: 1rem;
}

.form-step-4 .form .conclusion-properties-total p:nth-child(2){
    padding-bottom: 0;
    font-weight: var(--fw-big);
    color: var(--clr-purplish-blue);
}

.form-step-4 .form .conclusion-properties-online-display p,
.form-step-4 .form .conclusion-properties-storage-display p,
.form-step-4 .form .conclusion-properties-total p,
.form-step-4 .form .conclusion-properties-customizable p{
    color: var(--clr-cool-gray);
}

.form-step-4 .form .conclusion-properties-online-bill p,
.form-step-4 .form .conclusion-properties-storage-bill p,
.form-step-4 .form .conclusion-properties-customizable-bill p{
    color: var(--clr-marine-blue);
}

.form-step-4 .form .conclusion-properties-type-display p:nth-child(2){
    text-decoration: underline;
    cursor: pointer;
}

.form-step-4 .form .conclusion-properties-total{
    padding: 1rem;
}

/* Step 4 : Span */
.form-step-4 .conclusion-properties span{
    align-self: center;
    width: 100%;
    margin: 1rem;
    height: 1px;
    background-color: var(--clr-light-gray);
}

/* Step 4 : Hiding add-ons */
.conclusion-properties-online,
.conclusion-properties-storage,
.conclusion-properties-customizable{
    display: none;
}

/* ------------------- Footer ------------------- */

.btn-next-previous{
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.btn-next-previous .previous-step{
    visibility: hidden;
    height: 40px;
    width: 100px;
    border: none;
    background-color: var(--clr-white);
    color: var(--clr-cool-gray);
    border-radius: 5px;
    cursor: pointer;
}

.btn-next-previous .next-step{
    height: 40px;
    width: 100px;
    border: none;
    background-color: var(--clr-marine-blue);
    color: var(--clr-white);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.previous-step:hover{
    transform: scale(1.1);
}

.next-step:hover{
    background-color: var(--clr-purplish-blue);
    transform: scale(1.1);
}