:root{

    /* Color : Primary */
    --clr-marine-blue:hsl(213,96%,18%);
    --clr-purplish-blue:hsl(243,100%,62%);
    --clr-pastel-blue:hsl(228,100%,84%);
    --clr-light-blue:hsl(206,94%,87%);
    --clr-strawberry-red:hsl(354,84%,57%);

    /* Color : Neutral */
    --clr-cool-gray:hsl(231,11%,63%);
    --clr-light-gray:hsl(229,24%,87%);
    --clr-magnolia:hsl(217,100%,97%);
    --clr-alabaster:hsl(231,100%,99%);
    --clr-white:hsl(0,0%,100%);

    /* Font : Weight */
    --fw-needle: 300;
    --fw-thin: 400;
    --fw-medium: 500;
    --fw-big: 700;

    /* Font : Size */
    --fs-small : ;
    --fs-normal : 1em;
    --fs-big: 1.4em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
}

body{
    min-height: 100svh;
    width: 100%;
    display: grid;
    place-content: center;
}

/* Hiding all the steps except the first one */
.form-step-2,
.form-step-3,
.form-step-4,
.form-step-5{
    display: none;
}

/* ------------------- Btn for each form's steps ------------------- */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.steps-form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0rem 6rem;
    background-image: url(/assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.steps-form button{
    width: 35px;
    padding: 5px;
    border-color: var(--clr-white);
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
}

/* -------------------Form step 1 ------------------- */

.form{
    background-color: var(--clr-white);
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 78px;
    left: 0;
    margin: 1rem;
    padding: 2rem;
    border-radius: 2vmax;
}

.form p:nth-child(1){
    font-size: 1.4em;
    font-weight: var(--fw-big);
}

.form p:nth-child(2){
    font-size: 0.96em;
    font-weight: var(--fw-needle);
    color: var(--clr-cool-gray);
}

input{
    margin-bottom: 1rem;
}